<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jobSeekr</title>
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <script defer src="/javascripts/main.js"></script>
  </head>
  <body class="<%= bodyClass %>">
    <nav>
      <h2>jobSeekr 🤝</h2>
      <div id="nav-links">
        <% if (user) { %>
        <a href="/jobs/">All jobs</a>
        <a href="/jobs/new">Create new job</a>
        <a href="/logout">Log out</a>
        <% } else { %>
        <a href="/auth/google">Log in</a>
        <% } %>
      </div>
    </nav>
  </body>
</html>
