<%- include('./partials/header') %>

<h1>Welcome, <%= name %>!</h1>

<!-- dashboard:
    -calendar with upcoming dates (weekly monthly view)
    -unfinished tasks remaining (quantity and details)
    -watchlist -->

<%- include('./partials/footer') %>
