<%- include('./partials/header') %>
<div class="landing-ctr">
  <div id="landing-card">
    <h1 id="landing-h1">Your future is calling!</h1>
    <p>
      jobSeekr is the best way to organize all aspects of your job search. Ditch
      the spreadsheet and manage your job applications with ease!
    </p>
    <a href="/auth/google"><button>Get Started</button></a>
  </div>
</div>
<%- include('./partials/footer') %>
