/* general styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
  color: black;
  text-align: center;
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

.body-landing {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 143, 139, 0.459),
      rgba(100, 129, 223, 0.479)
    ),
    url(../images/hero.jpg);
}

.body-default {
  background-color: white;
}

h1,
h2 {
  font-family: "Plus Jakarta Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 60px;
  margin: 0;
  letter-spacing: 3px;
}

textarea,
input,
select {
  font: 14px Helvetica, Arial, sans-serif;
  display: block;
  width: 100%;
  padding: 8px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 500;
  color: rgb(216, 92, 71);
  border-bottom: 2px solid transparent;
}

a:hover {
  color: rgb(0, 0, 0);
}

#accent {
  font-weight: 800;
}

.ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.heading-ctr {
  background-color: rgb(19, 19, 19);
  width: 100%;
  color: white;
  text-align: left;
  padding: 10px 0px 20px 30px;
}

/* header styles*/

nav {
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-bottom: 2px solid #e9e9e9;
}

#nav-links a {
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
}

#nav-links a:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* index styles */

#index-tbl {
  text-align: center;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid rgb(202, 202, 202);
  width: 100%;
  margin: 50px auto;
  text-align: left;
}

td {
  padding: 2px;
  line-height: 23px;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

#index-tbl tr:not(:first-child):nth-child(even),
#show-tbl tr:nth-child(odd),
#events-tbl tr:not(:first-child):nth-child(even) {
  background-color: #ebebeb;
}

#index-tbl tr:first-child {
  background-color: none;
}

#index-tbl tr:not(:first-child):hover {
  background-color: rgba(228, 84, 59, 0.719);
  color: white;
  cursor: pointer;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 2px;
  padding: 10px 20px;
}

textarea {
  resize: none;
}

.hidden {
  display: none;
}

/* show styles */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col {
  width: 50%;
}

li {
  text-align: left;
  border-left: 2px solid rgba(228, 84, 59, 0.719);
  padding-left: 18px;
}

#show-tbl {
  text-align: justify;
}

ul {
  list-style: none;
  text-align: left;
  margin: 15px;
  padding: 0;
}

/* edit styles */

.ctr-edit {
  width: 90%;
  margin: 0 auto;
}
#create-form,
#edit-form,
#events,
#contacts {
  background-color: rgba(201, 201, 201, 0.452);
  border: 2px solid rgb(226, 226, 226);
  border-radius: 9px;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#edit-form {
  width: 700px;
}

#contacts,
#events {
  width: 400px;
}

.events-tbl {
  table-layout: auto;
  border: none;
}

.small-delete-btn {
  padding-right: 50px;
}

textarea,
select,
input {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
}

select,
input {
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

input[type="submit"] {
  width: 30px;
  line-height: 0;
  background-color: rgb(253, 91, 69);
  border: 1px solid rgba(226, 60, 48, 0.966);
  border-radius: 4px;
  color: #fff;
  padding: 10px 10px;
  margin: -5px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(228, 51, 51);
}

.other-links {
  display: flex;
  gap: 60px;
}

.other-links a:hover {
  color: white;
}

#delete-job-btn {
  width: 100px;
}

.small-delete-btn {
  margin: 0px 30px;
}

form input,
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  line-height: 20px;
}

/* create styles */

#large-btn,
#edit-large-btn,
#events-btn,
#contacts-btn {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 20px;
  margin: 10px auto;
}
/* footer styles */

/* media queries */

@media only screen and (max-width: 1300px) {
  .ctr {
    width: 90%;
  }

  .row {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .col {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .ctr {
    width: 100%;
  }
}
