/* general styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
  color: black;
  text-align: center;
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

.body-landing {
  background-image: linear-gradient(
      to right bottom,
      rgba(115, 227, 255, 0.685),
      rgb(248, 191, 194)
    ),
    url(http://localhost:3000/images/hero.jpg);
}

.body-default {
  background-image: linear-gradient(
    to right bottom,
    rgba(115, 227, 255, 0.685),
    rgb(248, 191, 194)
  );
}

h1,
h2 {
  font-family: "Plus Jakarta Sans", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 60px;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid rgb(30, 43, 238);
}

.ctr {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
}

/* header styles*/

nav {
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-bottom: 2px solid #e9e9e9;
}

#nav-links {
  display: flex;
  gap: 40px;
}

/* index styles */

table {
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding: 2px;
  line-height: 23px;
}

tr:not(:first-child):nth-child(odd) {
  background-color: rgb(216, 216, 216);
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

#all-jobs tr:first-child {
  background-color: none;
}

#all-jobs tr:not(:first-child):hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 2px;
}

textarea {
  resize: none;
}

.hidden {
  display: none;
}
