<%- include('../partials/header.ejs') %>
<div class="heading-ctr">
  <h1>Create A New Job</h1>
  <div class="other-links">
    <a href="/jobs/">Go back</a>
    <a href="/jobs/">All jobs</a>
  </div>
</div>
<div class="ctr">
  <h4>
    This form is short and sweet — I know you're busy!<br />
    Be sure to use the Job Editor to add events and contacts. 👌<br />
  </h4>
  <form id="create-form" action="/jobs" method="POST">
    <label>Company Name *</label>
    <input type="string" name="companyName" placeholder="Google" /><br />
    <label>Position *</label>
    <input type="string" name="job" placeholder="Software Engineer" /> <br />
    <label>Category</label>
    <input type="string" name="jobCategory" placeholder="Front-end" /><br />
    <label>Industry</label>
    <input type="string" name="industry" placeholder="Technology" /><br />
    <label>Location</label>
    <input type="string" name="location" placeholder="Mountain View, CA" />
    <br />
    <label>Work Style</label>
    <select name="workStyle">
      <option disabled selected value>-- select one --</option>
      <option value="In-Person">In-Person</option>
      <option value="Hybrid">Hybrid</option>
      <option value="Remote">Remote</option></select
    ><br />
    <label>URL of Job Listing</label>
    <input
      type="string"
      name="jobListingUrl"
      placeholder="https://www.google.com/careers/8373661"
    /><br />
    <label>Job Description</label>
    <textarea
      rows="10"
      cols="70"
      type="string"
      name="jobDescription"
      placeholder="With your technical expertise you will manage project priorities, deadlines, and deliverables. You will design, develop, test, deploy..."
    ></textarea
    ><br />
    <label>Qualifications</label>
    <textarea
      rows="10"
      cols="70"
      type="string"
      name="qualifications"
      placeholder="Bachelor's degree or equivalent practical experience, 8 years of experience in software development, and with data structures..."
    ></textarea>
    <br />
    <label>Company Description</label>
    <textarea
      rows="7"
      cols="70"
      type="string"
      name="companyDescription"
      placeholder="Google LLC is an American multinational technology company focusing on search engine technology, online advertising, cloud computing..."
    ></textarea>
    <input type="submit" value="Submit" id="large-btn" />
  </form>
</div>

<%- include('../partials/footer.ejs') %>
